/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

 /*Color of CycleTrac Logo:
 Black: #000000;
 Orange: #E78200;
 Gray: #7E7E7E*/

 @import "bootstrap-sprockets";
@import "bootstrap";

/*Homepage*/
html {
	height: 100%;
}
body {background: #000000;  /* fallback for old browsers */

}

.navbar-default{
	background: #000000;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
	border: solid#7E7E7E;
	border-radius: 10px;

	
.navbar-brand{
	color: #E78200;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 2;
	text-align: left;
}

.navbar-link {

	color: #E78200;
	font-weight: 700;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1;
	text-align: center;
	text-decoration: none;

	}

}

#logo {
	text-align: center;
	display: inline-block;
	clear: both;

	position: relative;
}

a {
	display: block;
	text-align: center;
}
	 


#workoutheader {
	color: #E78200;
}


#index_workouts {
	h2 {
		margin-bottom: 0;
		font-weight: 100;
		a {
			color: white;
		}
	}
}

#recents {
	text-decoration: none;
	color: #E78200;
}

/*End of Homepage*/

/*New Workout Page*/

#Newworkoutheader {
	color: #E78200;
	text-align: center;

}

label {
	color: #E78200;
	display: block;
	text-align: center;
	font-size: 20px;
}

.btn {
	background-color: #7E7E7E;
	color: #000000;
	font-weight: 1px;
	display: block;
	text-align: center;
	width: 100%;
	margin-bottom: 8px;
	position: relative;
}

#cancelbutton {
	padding: 6px 12px;
    font-size: 14px;
    background-color: #7E7E7E;
    color: #000000;
    text-decoration: none;
    margin-bottom: 8px;
}

.btn:hover, #cancelbutton:hover {
	background-color: #E78200;
}

.form-control {
	color: #000000;
	background-color: #7E7E7E;
	margin-bottom: 5px;
}

pre {
	background-color: #7E7E7E;
}

#songheader {
	text-align: center;
	color: #E78200;
	
}

#workoutname {
	text-align: center;
	color: #E78200;
	font-size: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}