/*// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#workoutheader {
	text-align: center;
	text-decoration: none;

	
}

#index_workout {
	color: #E7E7E7;
	text-decoration: none!important;
}